extensions:
	presenterFactory: Librette\Application\PresenterFactory\DI\PresenterFactoryExtension
presenterFactory:
	mapping:
		*:
			- App\*Module\Presenters\*Presenter
			- *Module\*Presenter
application:
	scanDirs: false
	mapping:
		*: App\*Module\Presenters\*Presenter
